[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
countryName = ID
stateOrProvinceName = jawa-barat
localityName = cianjur
organizationalUnitName = dev
commonName = ozzy
emailAddress = adnan@miit-s.com

[ v3_req ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.1.6
